 @import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Amatic+SC|Rock+Salt);

 /* 
 google提供的字型 也可以寫 link 在 html 裡面
 <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Amatic+SC|Rock+Salt' rel='stylesheet' type='text/css'> 
 */

/*
font-family: 'Josefin Sans', sans-serif; 正常
font-family: 'Pacifico', cursive; 草寫 ，覺得當小標不錯
font-family: 'Amatic SC', cursive; 方正有趣，都是大寫，我會拿來當 menu link
font-family: 'Rock Salt', cursive; 都是大寫，較奔放，我會拿來當英文簽名
*/

body{
	font-family:Microsoft JhengHei,arial,helvetica,sans-serif;
	font-size: 18px;
	color:black;
	background-color: white;
}

a{
	text-decoration: none;
}

h1{ 
	font-family: 'Rock Salt', cursive;
	font-size: 36px; 
	line-height: 40px;
	color: black;
}

h2{
	font-family: 'Pacifico', cursive, Microsoft YaHei;
	font-size: 30px;
	line-height: 32px;
}

h3{
	font-family: 'Amatic SC', cursive,Microsoft YaHei;
	font-size: 30px;
}

h4{
	font-size: 22px;
	color: white;
	font-weight: 400;
	line-height: 22px;
}

ul{
	list-style:none;
	padding: 0px;
	margin: 0px;
}

ul li{
	float: left;
}

ul li ul{
	display: none;
}

ul li:hover ul{
	display: block;
}

ul li ul li{
	clear: left;
	padding-top: 5px;
	padding-bottom: 5px; 
	height: 38px;
	width: 100px;
	background-color: #D75455;
	border-top: 2px solid #EB7A77;
}

.header{
	position: fixed;
	top:0px;
	right: 0px;
	left: 0px;
	background-color:#CB4042;
	width: 100%;
	height: 60px;
}

.top-nav{
	text-align: center;
	padding-top: 12px;
}

.menulist{
	display: inline-block;
	margin: auto;
}

.menu-link{
	font-family: 'Amatic SC', cursive , Microsoft YaHei;
	font-size: 36px;
	color: white;
	line-height: 36px;
	padding-right: 20px;
	padding-left: 20px ;
}

.menu-link:hover{
	color: yellow;
	font-weight: 600;
}

.has-sub{
	margin-top: 11px;
}

.sub{
	display:block;
	font-family: 'Amatic SC', cursive , Microsoft YaHei;
	font-size: 30px;
	color: black;
	padding-right: 20px;
	padding-left: 20px ;
}

.sub:hover{
	color: #FAD689;
	font-weight: 600;
}

.content{
	padding-top: 50px;
}

.section{
  padding-top: 10px;
  padding-bottom: 10px;
}

.section.section-about {
  background-image: -webkit-linear-gradient(rgba(255, 181, 181, 0.4) 44%, rgba(255, 255, 255, 1)), url('../images/me.jpg');
  background-image: linear-gradient(rgba(255, 181, 181, 0.4) 44%, rgba(255, 255, 255, 1)), url('../images/me.jpg');
  background-position: 0% 0%, 50% 0px;
  background-size: auto, cover;
  background-repeat:no-repeat;
}

.about-block{
	display: inline-block;
	padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}
.about{
	display: inline-block;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgba(12,12,12,0.5);
	border-radius: 10px;
	text-align: center;
}

.about-midden{
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	background-color: black;
}
.about-right{
	display: inline-block;
	background-color: yellow;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10px;
	text-align: center;
}

.face{
    border: 4px solid #F596AA;
	width: 50%;
	border-radius: 50%
}
.face:hover{
	border-color:#CB1B45;
}

.section-introduction{
	display: inline-block;
	padding: 2% 6%;
}

.education{
	background-color:#F75C2F; 
	color: white;
	padding-right: 6%;
	padding-left: 6%;
	padding-bottom: 2%;
}

.degree{
	margin-bottom: 10px;
}

.interests{
	background-color: white;
	padding-left: 6%;
	padding-right: 6%;
}

.hob-image{
	border-radius: 20px;
	border: 4px solid #EB7A77;
}

.footer{
	width: 100%;
	left: 0px;
	text-align: center;
	background-color:#E83015;
	padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 14px;
}