 @import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Amatic+SC|Rock+Salt);

 /* 
 google提供的字型 也可以寫 link 在 html 裡面
 <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Amatic+SC|Rock+Salt' rel='stylesheet' type='text/css'> 
 */

/*
font-family: 'Josefin Sans', sans-serif; 正常
font-family: 'Pacifico', cursive; 草寫 ，覺得當小標不錯
font-family: 'Amatic SC', cursive; 方正有趣，都是大寫，我會拿來當 menu link
font-family: 'Rock Salt', cursive; 都是大寫，較奔放，我會拿來當英文簽名
*/

body{
	font-family:Microsoft JhengHei,arial,helvetica,sans-serif;
	font-size: 16px;
	color:black;
	background-color: white;
}

a{
	text-decoration: none;
}

h1{ 
	font-family: 'Rock Salt', cursive;
	font-size: 36px; 
	line-height: 40px;
	color: black;
}

h2{
	font-family: 'Pacifico', cursive, Microsoft YaHei;
	font-size: 30px;
	line-height: 32px;
}

h3{
	font-family: 'Amatic SC', cursive,Microsoft YaHei;
	font-size: 30px;
}

h4{
	font-size: 22px;
	color: white;
	font-weight: 400;
	line-height: 22px;
}

ul{
	list-style:none;
	padding: 0px;
	margin: 0px;
}

ul li{
	float: left;
}

ul li ul{
	display: none;
}

ul li:hover ul{
	display: block;
}

ul li ul li{
	clear: left;
	padding-top: 5px;
	padding-bottom: 5px; 
	height: 38px;
	width: 100px;
	background-color: #D75455;
	border-top: 2px solid #EB7A77;
}


.header{
	position: fixed;
	top:0px;
	right: 0px;
	left: 0px;
	background-color:#CB4042;
	width: 100%;
	height: 60px;
}

.top-nav{
	text-align: center;
	padding-top: 11px;
}

.menulist{
	display: inline-block;
	margin: auto;
}

.menu-link{
	font-family: 'Amatic SC', cursive , Microsoft YaHei;
	font-size: 36px;
	color: white;
	line-height: 36px;
	padding-right: 20px;
	padding-left: 20px ;
}

.menu-link:hover{
	color: yellow;
	font-weight: 600;
}

.has-sub{
	margin-top: 12px;
}

.sub{
	font-family: 'Amatic SC', cursive , Microsoft YaHei;
	font-size: 30px;
	color: black;
	padding-right: 20px;
	padding-left: 20px ;
}

.sub:hover{
	color: #FAD689;
	font-weight: 600;
}

.content{
	padding-top: 60px;
}

.section{
  padding-top: 10px;
  padding-bottom: 10px;
}

.experienced{
	display: inline-block;
	padding: 2% 2%;
	border: 1px solid pink;
}

.competition{
	display: inline-block;
	padding: 2% 2%;
	border: 1px solid yellow;
}

.speciality{
	display: inline-block;
	padding: 2% 2%;
	border: 1px solid gray;
}

.footer{
	width: 100%;
	left: 0px;
	text-align: center;
	background-color:#E83015;
	padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 14px;
}